<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fro.org.froproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name=".mvp.ui.activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mvp.ui.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ProgressAndScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.PersonalInforActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CommonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SexSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.PhotoCropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MainGridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CourseStudyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CourseInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ClassInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ModifyPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ModifyPhoneNum1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ModifyPhoneNum2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ModifyUserInfoActivity"
            android:screenOrientation="portrait" />

        <!--将设计图的宽高配置后,配合AutoLauout控件使用,在设计图尺寸以外的其它尺寸手机上,也能达到和设计图一样的效果-->
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />
        <!--glide配置-->
        <meta-data
            android:name="com.jess.arms.widget.imageloader.glide.GlideConfiguration"
            android:value="GlideModule" />

        <!--arms配置-->
        <meta-data
            android:name="fro.org.froproject.app.GlobalConfiguration"
            android:value="ConfigModule" />
    </application>

</manifest>